@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(90deg, rgba(203, 89, 54, 1) 0%, rgba(227, 151, 2, 1) 100%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-big-text: #E39702;

  --color-bg: rgb(241, 250, 240);
  --color-footer : #031B34;
  --color-blog: #282a2c;
  --color-text: #FFF;
  --color-subtext: #FF8A71;
}